<mat-card>
  <mat-card-header>
    <mat-card-title> <h1>Select a Predator</h1> </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item
        *ngFor="let predator of predators"
        (click)="selected.emit(predator)"
        class="mat-list-item"
      >
        <h1 matLine>{{ predator.name }}</h1>
        <p matLine>{{ predator.genesis }}</p>
        <button
          mat-icon-button
          (click)="deleted.emit(predator); $event.stopImmediatePropagation()"
        >
          <mat-icon *ngIf="!readonly">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
